node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.angular/cache/
.angular/
.vscode/
.idea/
.DS_Store
.env
.env.*
*.log
logs/
/.sass-cache
package-lock.json
pnpm-lock.yaml
turbo-lock.json
/.pnp
/.pnp.js
/.cache
/.nyc_output
Reports/
tmp/
*.tgz
/.classpath
/.project
/.settings
/.eslintcache
/.parcel-cache
/.serverless